@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #CB6CE7;
  --color-secondary: #B472C7;
  --color-tertiaty: #99a0a3;
}

a { 
  cursor: pointer;
}

a:hover {
  @apply border-b-2 border-red-700;
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
